*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: hsl(346.15deg 16.88% 69.8%);
    display: flex;
}
#part1{
    height: 100%;
    width: 26%;
    /* background-color: brown; */
}
#part2{
    height: 100%;
    width: 67%;
    background-color: rgb(71, 42, 165);
    background-image: url(https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?q=80&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#overlay{
    height: 100%;
    width: 100%;
    background-color:hsla(344, 4%, 51%, 0.506) ;
}
#part3{
    height: 100%;
    width: 7%;
    /* background-color: rgb(63, 165, 42); */
}
#text{
    /* height: 300px; */
    width: 300px;
    position:absolute;
    left: 8%;
    top: 50%;
    transform: translate(0,-50%);
    /* background-color: red; */
}
#text h1{
font-size: 75px;
letter-spacing: 5px;
font-weight: 900;
text-transform: uppercase;
line-height: 58px;
color: white;
}
#small-img{
    height: 400px;
    width: 300px;
    background-color: blue;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translate(0,-50%);
    background-image: url(https://images.unsplash.com/photo-1534008757030-27299c4371b6?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}
#overlay1{
     height: 100%;
    width: 100%;
    background-color:hsla(342, 4%, 51%, 0.414) ;
}
#vertical-text{
    /* width: 100%; */
    position: absolute;
    right: -52%;
    top: -3%;
    transform: rotate(90deg);
    transform-origin: 0% 0%;
    /* background-color: red; */
}
#vertical-text h1{
    font-size: 70px;
    color: rgba(240, 248, 255, 0);
    font-family:'Times New Roman', Times, serif ;
    letter-spacing: 5px;
    font-weight: 900;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: white;
    text-transform: uppercase;
}
#nav{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 4%;
    top: -2%;
    width: 400px;
    height: 200px;
    /* background-color: red; */

}
img{
    height: 40px;
    width: 40px;
}
#nav h1{
    font-size: 7px;
    font-weight: 700;
    padding-left: 210px;
    text-transform: uppercase;
}