*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color:rgb(158, 158, 160);
}
#nav{
    height: 100px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#lnav img{
    height: 70px;
    width: 80px;
    /* background-color: blue; */
    margin-left: 7vh;
}
#lnav{
    /* background-color:skyblue; */
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#lnav-center{
    width: 600px;
    /* background-color:yellow; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}
#lnav-center a{
    color: black;
    text-decoration: none;
}
#rnav{
    /* background-color: blue; */
    width: 170px;
    display: flex;
    justify-content: space-between;
    margin-right: 6vw;
    font-size: 20px;
}
#content{
    width: 100%;
    height: calc(100% - 100px);
    /* background-color: red; */
    display: flex;
}
#left{
    width: 35%;
    height: 100%;
    /* background-color: yellow; */
    padding-top: 16vh;
    padding-left: 8vh;
    padding-right: 8vh;
}
#para1{
    padding-bottom: 2vh;
    color: rgba(0, 0, 0, 0.586);
    text-transform: capitalize;
}
#left h1{
    font-size: 50px;
    text-transform: uppercase;
    padding-bottom: 5vh;
}
#para2{
    color: rgba(0, 0, 0, 0.586);
}
#left button{
    padding: 1.5vh 4vh;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 4vh;
    background-color: black;
    color: white;
    font-weight: 600;
    border-radius: 50px;
    border-top-left-radius: 0;
}
#right{
    width: 65%;
    height: 100%;
    white-space: nowrap;
    overflow-x: auto;
    /* background-color: red; */
}
#section1{
    width: 280px;
    height: 400px;
    background-color: #fff;
    margin-top: 11vh;
    box-shadow: 0 2px 10px .3px rgb(75, 63, 63);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
    margin-right: 2vh;
}
#section1 img{
    width: 300px;
    position: absolute;
    object-fit: cover;
}
#section1 h4{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color:rgb(158, 158, 160);
    padding: 1.7vh 1.9vh;
    border-radius: 8px;
    font-size: 15px;
    text-transform: capitalize;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#section1 h5{
    position: absolute;
    background-color: black;
    color: white;
    bottom: 5.5vh;
    right: 0;
    padding:1.5vh 1.7vh ;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    text-transform: capitalize;

}
#right::-webkit-scrollbar{
    display: none;
}


   