*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    /* background-color: red; */
    position: relative;
    display: flex;
  align-items: center;
  justify-content: center;
}
#main img{
  height: 700px;
}
#text{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 24%;
    left: -10%;
    white-space: nowrap;
    z-index: -99;
    animation-name: scroll;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
#text::-webkit-scrollbar{
    display: none;
}
#text h1{
    font-size: 110px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 20px;
    letter-spacing: 5px;
}
#text1{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 44%;
    left: -10%;
    white-space: nowrap;
    z-index: 99;
}
#text1::-webkit-scrollbar{
    display: none;
}
#text1 h1{
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    color: transparent;
    font-size: 115px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 20px;
    letter-spacing: 5px;
}
#text2{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 64%;
    left: -10%;
    white-space: nowrap;
    z-index: -99;
     animation-name:scroll1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
#text2::-webkit-scrollbar{
    display: none;
}
#text2 h1{
    font-size: 110px;
    text-transform: uppercase;
    display: inline-block;
    margin-right: 20px;
    letter-spacing: 5px;
}
#centertext{
 width: 50%;
 /* background-color: red; */
 position: absolute;
 top: 10%;
}
#centertext h1{
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}
@keyframes scroll {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%);
    }
}
@keyframes scroll1{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}