*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    position: relative;
}
#nav{
    height: 90px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3vh;
}
#lnav h1{
    padding-left: 6vh;
    font-size: 45px;
    font-weight: 500;
}
#rnav{
   width: 600px;
   /* background-color: red; */
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-right: 10vh;
}
#rnav a{
    text-decoration: none;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.672);
    font-weight: 400;
}
#rnav :nth-child(6){
    border: 2px solid rgba(0, 0, 0, 0.601);
    padding: 8px 0;
    padding-left: 20px;
    padding-right: 25px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}
#rnav :nth-child(6) i{
    /* color: red; */
    padding-left: 5px;
    font-size: 30px;
    align-items: center;
}
#rnav a:nth-last-child(1) #green{
    height: 100%;
    width: 100%;
    background-color: rgb(43, 244, 43);
    position: absolute;
    left: -100%;
    top: 0;
    z-index:-99;
    transition: left 0.4s ease;
}
#rnav a:nth-last-child(1) h5{
    font-weight: 600;
    color: rgba(0, 0, 0, 0.625);
}
#rnav a:nth-last-child(1):hover #green{
    left: 0%;
}
#centertext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#centertext h1{
    /* background-color: red; */
    width: 700px;
    font-size: 8.5vh;
    font-weight: 550;
    text-align: center;
    font-family: fantasy;
    position: relative;
    line-height: 90px;
}
#centertext h1::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 16px;
    bottom: 7%;
    left: 50%;
    background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
    transform: translate(-50%, 0);
}
 #main img{
    height: 200px;
    position: absolute;
    /* position: absolute;
    top: 25%;
    left: 20%; */
}
#main #img1{
    height: 500px;
    margin-top: 15vh;
    margin-left: 6vh;
}
#main #img2{
    height: 200px;
    margin-top: 5vh;
    margin-left: 110vh;
}
#main #img3{
    height: 250px;
    margin-top: 48vh;
    margin-left: 130vh;
}
#main #lnav h1::after{
    height: auto;
    width: auto;
    content: ".";
    color: rgb(18, 241, 18);
    border: 1px solid white;
    border-radius: 50px;
}
#main #lnav h1:hover{
    scale: 0.9;
    transition-duration: 0.4s;
    transition-timing-function: linear;
}
#main img{
 transition: margin 0.8s ease;
}
#main #img1:hover{
    margin-top: -1px;
}
#main #img2:hover{
    margin-top: -1px;
}
#main #img3:hover{
    margin-top: 0px;
}