*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    min-height: 100vh;
    width: 100%;
    background-color: red;
}
#row1{
    min-height: 55vh;
    /* background-color: blue; */
    background-image: url(https://images.unsplash.com/photo-1435224654926-ecc9f7fa028c?q=80&w=3087&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 50% 80%;
    position: relative;
}
#row2{
    min-height: 45vh;
    background-color: green;
    display: flex;
}
#column1{
    min-height:inherit;
    width: 25%;
    background-color: white;
    padding-top: 3vh;
    padding-left: 3vh;
}
#column1 h2{
    padding-bottom: 20px;
}
#column1 p{
    width: 90%;
    align-items: center;
}
#column2{
    min-height:inherit;
    width: 25%;
    /* background-color: rgb(255, 60, 0); */
     background-image: url(https://images.unsplash.com/photo-1762957044542-583a86b753a3?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#column3{
    min-height:inherit;
    width: 25%;
    /* background-color: rgb(255, 157, 0); */
    background-image: url(https://images.unsplash.com/photo-1704533979304-6fb1b14f288a?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#column4{
    color: white;
    min-height:inherit;
    width: 25%;
    background-color: rgb(55, 52, 52);
    padding-top: 2vh;
    padding-left: 2vh;
   
}
#text{
    color: white;
    width: 100%;
    /* background-color: red; */
    position: absolute;
    top: 20%;
    padding-left: 5vw ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#text h1{
    font-size: 10vh;
}
#text1{
    width: 50%;
    display: flex;
    padding-right: 5vw;
    justify-content: center;
}
#text p{ 
    font-size: 1.5vh;
    padding-right: 4vw;
}
#icon{
    display: flex;
}
#icon i{
    padding-right: 2vh;
    color:white
}
#r1{
    /* background-color: brown; */
    min-height:22.4vh;
    background-image: url(https://images.unsplash.com/photo-1762882555456-ac0494bf1477?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;
}
#r2{
    /* background-color: pink; */
    background-image: url(https://images.unsplash.com/photo-1762926949860-32a256c3bfe1?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    min-height: 22.4vh;
    background-size: cover;
    background-position: 50% 70%;
}
#notify{
    display: flex;
    padding: 3vh 2vh 0 0;
    justify-content: space-between;
}
#photo{
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
}
#notify p{
    width: 80%;
    font-size: 13px;
}
#photo1{
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50%;
}
#notify1 p{
    width: 80%;
    font-size: 13px;
}
@media(max-width:500px){
    #row1 #text{
        flex-direction: column;
        align-items: flex-start;
    }
    #row1 #text #text1{
        flex-direction: column;
        align-items: flex-start;
    }
     #row1 #text #text1 p{
        margin-top: 15px;
     }
      #row1 #text #text1 #icon{
        margin-top: 30px;
      }
      #row2{
        flex-direction: column;
        min-height: 30vh;
      }
      #column1{
        width: 100%;
        min-height: 25vh;
      }
      #column2{
       width: 100%;
      }
      #column3{
        flex-direction: column;
        width: 100%;
      }
      #column4{
        width: 100%;
      }
      #column3 #r2{
        min-height: 40vh;
      }
      #column3 #r1{
        min-height: 40vh;
}
}